/* Header.module.css */
.header {
    background-color: #eee;
    padding: 0.5em;
}

.title{
    width: 40%;
}

.nav {
    width: 30%;
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav li {
    display: inline-block;
    margin-right: .1em;
}

.nav a {
    text-decoration: none;
    color: blue;
    font-weight: bold;
    transition: color 0.2s ease;
}

.nav a:hover{
    color:lightblue;
    text-decoration: underline;
}
  